.user-view-btn {
    display: flex;
    justify-content: center;
    padding: 4px;
  }
  
.player-scores .main-container-head .table .player-address {
   background: transparent;
   border: none;
  }

.player-scores .main-container-head .table .player-address:hover {
  color: #6B1A10;
}


/* ========== Custom Styles Schema Modal =========== */
  
.main-modal.add-modal {
  max-width: 650px !important;
  top: -5% !important;
}

.modal.show .modal-dialog.add-modal {
  transform: translate(0, 5%);
}

.add-modal .add-modal-title p {
  color: #fff !important;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 30px 0px 10px;
}

.add-modal .add-modal-line hr {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.add-modal .add-modal-body {
  padding: 25px !important;
}

.add-modal .add-modal-body .form .label {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0px !important;
}

.add-modal .add-modal-body .form .form-input .MuiOutlinedInput-input, 
.add-modal .add-modal-body .form .form-input .MuiFormHelperText-root,
.add-modal .add-modal-body .form .form-input .MuiInputLabel-outlined,
.add-modal .add-modal-body .form .form-input .MuiSelect-icon {
  color: #fff !important; 
}

.add-modal .add-modal-body .form .form-input .MuiFormHelperText-root.Mui-error {
  color: #4a08ff !important;
}

.add-modal .add-modal-body .form .MuiFormControl-marginNormal {
  margin-top: 5px !important;
}

.add-modal .add-modal-body .form .form-input .MuiOutlinedInput-input {
  padding: 15px 10px !important;
}

.form .form-input .MuiFormControl-marginNormal {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.add-modal .add-modal-body .form .MuiOutlinedInput-notchedOutline {
  border-color: rgb(185, 185, 185);
}

.add-modal .add-modal-body .form .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgb(243, 243, 243);
}


